﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/knockout-3.2.0.js"></script>
</head>
<body>


    <p><b>Edit Fruit</b></p>
    <span data-bind="foreach: fruits">
        <p>
            Editting Fruit:
            <input data-bind="value: name" />
        </p>
    </span>

    <p>Show Fruit</p>
    <div data-bind="foreach: fruits">
        <p>Showing Fruit: <span data-bind="text: name"></span></p>
    </div>


    first Fruit
    <span data-bind="with: firstFruit">
        <input type="text" data-bind="value: name" />
    </span>


    <script type="text/javascript">

        var Fruit = function (name) {
            this.name = ko.observable(name);
        };

        var ViewModel = function (fruits) {
            var self = this;

            self.fruits = ko.observableArray(fruits);
            self.firstFruit = ko.computed(function () {
                return self.fruits()[0];
            });
        };

        var fruits = [
            new Fruit("Apple"),
            new Fruit("banana"),
            new Fruit("orange")
        ];

        var viewModel = new ViewModel(fruits);
        ko.applyBindings(viewModel);

    </script>


</body>
</html>
