﻿@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/knockout-3.2.0.js"></script>
</head>
<body>
    first Fruit edit
    <span data-bind="with: firstFruit">
        <input type="text" data-bind="value: name" />
    </span>


    first Fruit display
    <span data-bind="with: firstFruit">
        <span data-bind="text: name"></span>
    </span>

    <script type="text/javascript">

        var Fruit = function (name) {
            this.name = ko.observable(name);
        };

        var ViewModel = function (fruits) {
            var self = this;

            self.fruits = ko.observableArray(fruits);
            self.firstFruit = ko.computed(function () {
                return self.fruits()[0];//array at index 0
            });
        };

        var fruits = [
            new Fruit("Apple"),
            new Fruit("banana"),
            new Fruit("orange")
        ];

        var viewModel = new ViewModel(fruits);
        ko.applyBindings(viewModel);

    </script>


</body>
</html>
